---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Mohammad.</h1>
			<p>
				I'm a software engineer. This is my personal blog, where I share my ideas, opinions, and
				talks about engineering and development.
			</p>
			<h2>Recent posts</h2>
			<ul class="post-list">
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>
							<span class="date">
								<FormattedDate date={post.data.pubDate} />
							</span>
						</li>
					))
				}
			</ul>
			<p><a href="/blog">All posts &rarr;</a></p>
		</main>
		<Footer />
		<style>
			.post-list {
				list-style: none;
				margin: 0 0 1em 0;
				padding: 0;
			}
			.post-list li {
				margin-bottom: 0.5em;
			}
			.date {
				margin-left: 0.75em;
				color: var(--text-light);
				font-size: 0.9em;
			}
		</style>
	</body>
</html>
